{
  "name": "{{.Name}}",
  "private": true,
  "type": "module",
  "dependencies": {
    "@tanstack/react-router": "latest",
    "@tanstack/react-start": "latest",
    "react": "^19",
    "react-dom": "^19"
  },
  "devDependencies": {
    "@tailwindcss/vite": "latest",
    "@vitejs/plugin-react": "latest",
    "tailwindcss": "latest",
    "typescript": "^5",
    "vite": "latest",
    "vitest": "latest"
  }
}
